html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.8em;
    color:#666;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.bg-option{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
}

.pimg1{
    background-image: url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg);
    min-height: 100%;
}

.pimg2{
    background-image:url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg);
    min-height: 400px;
}

.pimg3{
    background-image:url(https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg);
    min-height: 400px;
}
.section{
    text-align: center;
    padding: 50px 80px
}

.section-light{
    background-color:#f4f4f4;
    color:#666;
}
  
.section-dark{
    background-color:#282e34;
    color:#ddd;
}

.ptext{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-size: 27px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.border{
    background-color: #111;
    color: white;
    padding: 20px;
}

.ptext .border.trans{
    background-color:transparent;
}